.game-setup-container {
    width: 80%;
    max-width: 30rem;
}
.bots {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 1.5rem 0 0 0;
}
.bots .active {
    opacity: 50%;
}

.game-setup-container h2{
    text-align: center;
}
.game-setup-container h1{
    text-align: center;
}

.gameSetupButtons {
    margin: 1.5rem 0 0 0;

    display: flex;
    justify-content: space-evenly;
    
}

.gameSetupButtons > button {
    width: 5rem;
}

.backToStart {
    margin: 0 0 0 1rem;
}