
.game-play-container input{
    outline: 0;
}
.game-play-container{
    max-width: 14.1rem;
}

.bot-active {
    background-color: #76647d;
    color: #262028
}

.human-active {
    background-color: #bf00ff;
    color: #fbefff
}

.game-play-container > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-play-container .player-turn {
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
}

.game-play-container input{
    outline: none;
    /* background-color: aqua; */
}

.guessedNumbersShown {
    list-style-type: none;
    margin-top: 1rem

}