#backToStart{
    border-radius: 10%;
    margin-left: 1.5rem;
}

#gameSetupButton{
    border-radius: 10%;
    margin-left: 1.5rem;
}
.bots {
    list-style: none;
    display: flex;
    justify-content: space-around;
}