 .start-container{
    max-width: 600px;
    /* display: flex;
    flex-direction: column; */
}


.active-start {
    background-color: #bf00ff;
    color: #fbefff
}

.start-container  {
    border-radius: 1rem;
}

.inactive-start {
    background-color: #76647d;
    color: #262028
}

/* #startPageButton{
    border-radius: 10%;
    max-width: 7rem;
} */

#startNameInput{
    max-width: 12rem;
}

.gameTitel{
    font-family: 'Bangers', cursive;
    font-size: 4rem;
    /* margin: -20rem 0 0 10rem; */
} 

.gameUnderTitel{
    font-family: 'Bangers', cursive;
    color: #f7f6ee;
}


#showRules {
    display:none;
    max-width: 19rem;
    padding-bottom: 2rem;
  }

#showHighScore {
    display: none;
    max-width: 19rem;
    padding-bottom: 2rem;
    
}

 