*{
    margin: 0;
    font-family: 'Ropa Sans', sans-serif;
}


input:focus{

    outline:0;
    border:1px solid #bf00ff;
}
.hiddenPage{
    display: none; 
}
html{
   
}
body{
    background: -webkit-linear-gradient(top, rgba(41,38,42,1) 0%, rgba(92,84,95,1) 100%);
    background-repeat: no-repeat;
    height: 100vh;
    color: #fbefff;
    display: flex;
    justify-content: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgba(92,84,95,1);
}

h1{
    padding: 1rem 0;
}


button {
    color: #fbefff; 
    border: none;
    border-radius: 1rem; 
    padding:0.5rem;
    font-size: 0.9rem;
    outline: 0;
}

.secondaryButton {
    background: none;
    border: 0.05rem solid  #bf00ff;
}

.secondaryButton .buttonPosition {
    padding-left: 33rem;
    position: 0;
}


input {
    background-color: #262028;
    color: #fbefff;
    border: none;
    font-size: 0.9rem;
    padding: 0.5rem;
    border-radius: 4rem; 
    margin-bottom: 1rem;
}